:root {
  font-family: Montagu Slab, system-ui, Montez, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222831;
  background-color: #EBE8DB;
}


.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
}

.myicon {
  position: absolute;
  top: 0;
  left: 0;
  /* Align to the left */
  margin-left: 12px;
  height: 100%;
  width: 75px;
  font-size: 55px;
  font-family: 'Montez';
  display: flex;
  align-items: center;
  /* Centers vertically within its height */
}

.mynavbar {
  top: 0;
  float: right;
  width: 140px;
  height: 100%;
  font-family: 'Montagu Slab';
  font-size: 16px;
}

.mytitle {
  display: flex;
  margin-top: 125px;
  margin-bottom: 100px;
  font-family: 'Montagu Slab';
  font-size: 50px;
}

.project-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Base visibility for all images */
.image-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.myborder {
  border-bottom: medium dotted #222831;
}

.sticky-image {
  border: 5px solid black;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 65%;
  opacity: var(--visibility);
  transition: opacity 0.2s ease-in-out;
}

.lead-down {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 100;
}

.lead-top-button {
  bottom: 30px;
  right: 30px;
  position: fixed;
  border-radius: 50px;
  padding: 0;
  color: #393E46;
  transition: transform 1.25s background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.lead-top-button:hover {
  background-color: orange;
  color: white;
}

.footer {
  display: flex;
  margin-top: 70px;
  height: 120px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #222831;
  color: white;
  position: relative;
}
.about-description {
  width: "600px";
}
.avatar {
  object-fit: cover;
  object-position: top center;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  border: 2px solid black
}

.email {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a {
  font-weight: 500;
  color: #222831;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  min-width: 700px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
  .mytitle {
    display: flex;
    margin-top: 125px;
    margin-bottom: 100px;
    font-family: 'Montagu Slab';
    font-size: 25px;
  }

  .project-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  /* Base visibility for all images */
  .image-wrapper {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .myborder {
    border-bottom: medium dotted #222831;
  }

  .sticky-image {
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 85%;
    opacity: var(--visibility);
    transition: opacity 0.2s ease-in-out;
  }

  .lead-down {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 100;
  }

  .lead-top-button {
    bottom: 30px;
    right: 30px;
    position: fixed;
    border-radius: 50px;
    padding: 0;
    transition: transform 1.25s background-color 0.3s, color 0.3s;
    cursor: pointer;
  }

  .lead-top-button:hover {
    background-color: orange;
    color: white;
  }

  .footer {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #222831;
    color: white;
    position: relative;
    padding: 20px 0 20px;
  }

  body {
    margin: 0;
    min-width: 300px;
    min-height: 100vh;
  }

  .about {
    flex-direction: column;
    width: 300px;
  }
  .avatar {
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 2px solid black
  }
  .projectlayout {
    flex-direction: column;
  }

}
[data-rmiz-ghost] {
  position: absolute;
  pointer-events: none;
}
[data-rmiz-btn-zoom],
[data-rmiz-btn-unzoom] {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  border: none;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  color: #fff;
  height: 40px;
  margin: 0;
  outline-offset: 2px;
  padding: 9px;
  touch-action: manipulation;
  width: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[data-rmiz-btn-zoom]:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  pointer-events: none;
  white-space: nowrap;
  width: 1px;
}
[data-rmiz-btn-zoom] {
  position: absolute;
  inset: 10px 10px auto auto;
  cursor: zoom-in;
}
[data-rmiz-btn-unzoom] {
  position: absolute;
  inset: 20px 20px auto auto;
  cursor: zoom-out;
  z-index: 1;
}
[data-rmiz-content="found"] img,
[data-rmiz-content="found"] svg,
[data-rmiz-content="found"] [role="img"],
[data-rmiz-content="found"] [data-zoom] {
  cursor: zoom-in;
}
[data-rmiz-modal]::backdrop {
  display: none;
}
[data-rmiz-modal][open] {
  position: fixed;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  max-width: none;
  max-height: none;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  overflow: hidden;
}
[data-rmiz-modal-overlay] {
  position: absolute;
  inset: 0;
  transition: background-color 0.3s;
}
[data-rmiz-modal-overlay="hidden"] {
  background-color: rgba(255, 255, 255, 0);
}
[data-rmiz-modal-overlay="visible"] {
  background-color: #EBE8DB;
}
[data-rmiz-modal-content] {
  position: relative;
  width: 100%;
  height: 100%;
}
[data-rmiz-modal-img] {
  position: absolute;
  cursor: zoom-out;
  image-rendering: high-quality;
  transform-origin: top left;
  transition: transform 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  [data-rmiz-modal-overlay],
  [data-rmiz-modal-img] {
    transition-duration: 0.01ms !important;
  }
}